@page
@model PRN221PE_SP24_TrialTest_SE160233_RazorPage.Pages.Account.LogoutModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Logout</title>
</head>
<body>
    <div>
        <h1>Logout</h1>
        <p>Are you sure you want to logout?</p>
        <form method="post">
            <button type="submit">Yes, Logout</button>
        </form>
    </div>
</body>
</html>