@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form class="container mt-5" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Email đăng nhập:</label>
        <input type="text" class="form-control" id="email" name="email" asp-for="Email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu:</label>
        <input type="password" class="form-control" id="password" name="password" asp-for="Password" required>
    </div>
    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>